<div class="container">

    <div class="login-box">

        <div class="login-box-logo">
            <img src="https://i.ibb.co/9YtfcZG/logo.png" class="login-box-logo">
        </div>
        <div class="login-box-title">
            Pokémon API
        </div>
        <div class="login-input-box"> 
            <div class="login-input-icon">
                <img src="https://i.ibb.co/990RCL0/pokeball-icon-5.png" class="login-input-icon-img-l"/>
            </div>       
            <input class="login-input" [(ngModel)]="loginrequest.email" />
        </div>
        <div class="login-input-box">  
            <div class="login-input-icon">
                <img src="https://www.flaticon.com/svg/static/icons/svg/712/712010.svg" class="login-input-icon-img"/>
            </div>      
            <input type="password" class="login-input"  [(ngModel)]="loginrequest.password" />
        </div>
        <div class="login-submit" (click)="submit()">
            LOGIN
        </div>

    </div>
    <div class="login-box-bottom">
        <div  >No account yet?
            <a routerLink="/register">register here!</a>
        </div>
    </div>

    <app-validator [message]="validatorMessage"></app-validator>

</div>
