
<div class="header">
    <div class="gen-button">KANTO</div>
    <div class="gen-button">JOHTO</div>
    <div class="gen-button">HOENN</div>
    <div class="gen-button">SINNOH</div>
    <div class="gen-button">UNOVA</div>
    <div class="gen-button">GALAR</div>
</div>



<div class="container">

    <div class="top-filter">
        <input [(ngModel)]="name" (ngModelChange)="filterByName($event)"/>
    </div>

    <div class="container-left">
        <div>Types</div>
        <!-- TODO MAKE DYNAMIC -->
        <img src="../../assets/types/Normal.png" class="filter-type">
        <img src="../../assets/types/Grass.png" class="filter-type">
        <img src="../../assets/types/Fire.png" class="filter-type">
        <img src="../../assets/types/Water.png" class="filter-type">
        <img src="../../assets/types/Electric.png" class="filter-type">
        <img src="../../assets/types/Bug.png" class="filter-type">
        <img src="../../assets/types/Poison.png" class="filter-type">
        <img src="../../assets/types/Ground.png" class="filter-type">
        <img src="../../assets/types/Rock.png" class="filter-type">
        <img src="../../assets/types/Steel.png" class="filter-type">
        <img src="../../assets/types/Ice.png" class="filter-type">
        <img src="../../assets/types/Psychic.png" class="filter-type">
        <img src="../../assets/types/Fighting.png" class="filter-type">
        <img src="../../assets/types/Fairy.png" class="filter-type">
        <img src="../../assets/types/Dark.png" class="filter-type">
        <img src="../../assets/types/Flying.png" class="filter-type">
        <img src="../../assets/types/Ghost.png" class="filter-type">
        <img src="../../assets/types/Dragon.png" class="filter-type">


    </div>

    <div class="container-right">
        <div *ngIf="kanto" class="gen-title">KANTO</div>
        <app-pokemon-tile  *ngFor="let pokemon of kanto" [pokemon]="pokemon"></app-pokemon-tile>
        <div *ngIf="johto"class="gen-title">JOHTO</div>
        <app-pokemon-tile  *ngFor="let pokemon of johto" [pokemon]="pokemon"></app-pokemon-tile>
        <div *ngIf="hoenn"class="gen-title">HOENN</div>
        <app-pokemon-tile  *ngFor="let pokemon of hoenn" [pokemon]="pokemon"></app-pokemon-tile>
        <div *ngIf="sinnoh" class="gen-title">SINNOH</div>
        <app-pokemon-tile  *ngFor="let pokemon of sinnoh" [pokemon]="pokemon"></app-pokemon-tile>
        <div *ngIf="unova" class="gen-title">UNOVA</div>
        <app-pokemon-tile  *ngFor="let pokemon of unova" [pokemon]="pokemon"></app-pokemon-tile>
        <div *ngIf="galar" class="gen-title">GALAR</div>
        <app-pokemon-tile  *ngFor="let pokemon of galar" [pokemon]="pokemon"></app-pokemon-tile>
    </div>

</div>
