<div class="container">
    <div class="login-box">

        <div class="login-box-logo">
            <img src="https://i.ibb.co/9YtfcZG/logo.png" class="login-box-logo">
        </div>
        <div class="login-box-title" style="margin-top: 0px;">
            REGISTER
        </div>
        <div class="register-text">Hi, choose your <b>nickname</b></div>

        <div class="login-input-box"> 
                
            <input [(ngModel)]="registerRequest.username" class="login-input"/>
        </div>
        

        <div class="register-text">Fill in your <b>emailadres</b></div>

        <div class="login-input-box"> 
                
            <input [(ngModel)]="registerRequest.email" class="login-input"/>
        </div>

        <div class="register-text">Your POGO <b>trainername</b></div>

        <div class="login-input-box"> 
                
            <input [(ngModel)]="registerRequest.pogoName" class="login-input"/>
        </div>

        <div class="register-text">Choose a <b>password</b></div>

        <div class="login-input-box"> 
                
            <input [(ngModel)]="registerRequest.password" type="password" class="login-input"/>
        </div>

        <div class="register-text"><b>Confirm</b> it</div>

        <div class="login-input-box"> 
                
            <input type="password" class="login-input"/>
        </div>

        <div class="login-submit" (click)="submit()">SIGN UP</div>
    </div>

    <div class="login-box-bottom">
        <div>Already an account?
            <a routerLink="/login">login in here!</a>
        </div>
    </div>

    <app-validator [message]="validatorMessage"></app-validator>

</div>